{
	"RegistryName": "container_large",
	"Addon": "fvtm:generic",
	"ContainerType": "LARGE",
	"ModelFile": "net.fexcraft.mod.addons.gep.models.containers.GenericContainerModel.class",
	"FullName": "Default Large Container",
	"Textures":[
		"gep:textures/other/genericcontainer.png"
	],
	"InventorySize": 2916,
	"InventoryType": "item"
}