{
	"RegistryName": "container_medium",
	"Addon": "fvtm:generic",
	"ContainerType": "MEDIUM",
	"ModelFile": "net.fexcraft.mod.addons.gep.models.containers.GenericContainerModel.class",
	"FullName": "Default Medium Container",
	"Textures":[
		"gep:textures/other/genericcontainer.png"
	],
	"InventorySize": 1458,
	"InventoryType": "item"
}