# Eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# Idea
out
*.ipr
*.iws
*.iml
.idea

# Gradle
build
.gradle

# Other
eclipse
run/*
!run/addons/

# Yet Other
src/main/java/com/
src/main/java/net/fexcraft/mod/addons/manus/models/
src/main/resources/assets/flansmod/
src/main/java/org/
