# Eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# Idea
out
*.ipr
*.iws
*.iml
.idea

# Netbeans
.nb-gradle

# Gradle
build
.gradle

# Other
eclipse
run/*
!run/addons/

# Yet Other
src/main/java/com/
src/main/java/net/fexcraft/mod/addons/manus/models/
src/main/java/net/fexcraft/mod/addons/test/models/
src/main/java/net/fexcraft/mod/addons/gold/models/
src/main/java/org/
run/addons/Gold's Pack
src_fmr_test
