# Eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# Idea
out
*.ipr
*.iws
*.iml
.idea

# Netbeans
.nb-gradle

# Gradle
build
.gradle
localrepos

# Other
eclipse
old/
run/*
!run/addons/

# Yet Other
old/
src/main/resources/assets/fvtm/test/
gradle/
