{
	"RegistryName": "hcp:container_medium",
	"Addon": "fvtm:hcp",
	"ContainerType": "MEDIUM",
	"ModelFile": "net.fexcraft.mod.addons.hcp.models.container.StandardMediumContainer.class",
	"FullName": "Standard Medium Container",
	"Textures":[
		"hcp:textures/containers/default_container.png"
	],
	"InventorySize": 729,
	"InventoryType": "item"
}