{
	"RegistryName": "hcp:xsmall",
	"Addon": "fvtm:hcp",
	"ContainerType": "XSMALL",
	"ModelFile": "fvp:models/container/xsmall",
	"FullName": "xSmall Container (TriCon)",
	"Textures":[
		"hcp:textures/containers/standard_xsmall.png"
	],
	"InventorySize": 486,
	"InventoryType": "item"
}