{
	"RegistryName": "fvp:container_medium",
	"Addon": "fvtm:fvp",
	"ContainerType": "MEDIUM",
	"ModelFile": "net.fexcraft.mod.addons.fvp.models.container.DefaultFVPMediumContainer.class",
	"FullName": "Default FVP Medium Container",
	"Textures":[
		"fvp:textures/containers/default_container.png",
		"fvp:textures/containers/default_container_blue.png"
	],
	"InventorySize": 1458,
	"InventoryType": "item"
}