{
	"RegistryName": "test:container_medium",
	"Addon": "fvtm:test",
	"ContainerType": "MEDIUM",
	"ModelFile": "net.fexcraft.mod.addons.gep.models.containers.GenericContainerModel.class",
	"FullName": "Fluid Medium Container",
	"Textures":[
		"test:textures/other/genericcontainer.png"
	],
	"InventorySize": 160000,
	"InventoryType": "fluid"
}