{
	"RegistryName": "hcp:tiny",
	"Addon": "fvtm:hcp",
	"ContainerType": "TINY",
	"Model": "hcp:models/container/tiny",
	"Name": "Tiny Container (TriCon)",
	"Textures":[
		"hcp:textures/containers/standard_tiny.png"
	],
	"InventorySize": 486,
	"InventoryType": "item"
}