{
	"RegistryName": "hcp:medium_refrigerator",
	"Addon": "fvtm:hcp",
	"ContainerType": "MEDIUM",
	"Model": "hcp:models/container/medium_refrigerator",
	"Name": "Standard Medium Refrigerator Container",
	"Textures":[
		"hcp:textures/containers/standard_medium_refrigerator.png"
	],
	"InventorySize": 1200,
	"InventoryType": "item",
	"ContentFilter": "food_only"
}