{
	"RegistryName": "hcp:medium_fluid",
	"Addon": "fvtm:hcp",
	"ContainerType": "MEDIUM",
	"Model": "hcp:models/container/medium_fluid",
	"Name": "Standard Medium Fluid Container",
	"Textures":[ "hcp:textures/containers/standard_fluid.png" ],
	"InventorySize": 864000,
	"InventoryType": "fluid"
}